.xs_socials_fb_post{
        width:50%;
        margin-left: 20%;
        margin-right: 20%;
        padding:32px;
        box-shadow: 0 1px 2px rgba(238,238,238,.2); /* #eeeeee */
}

.xs_socials_fb_post > .info {
        width:100%;
        display:inline-block;
}

.xs_socials_fb_post > .info > .user_info {
        float:left;
}

.xs_socials_fb_post > .info > .user_info > span {
        padding:8px;
}

.xs_socials_fb_post > .info > .post_info {
        float:right;
}

.xs_socials_fb_post > .post {
        width:100%;
        display: grid;
}

.xs_socials_fb_post > .post > .description {
        padding:16px;
}
.xs_socials_fb_post >.post > img {
        height:300px;
}
